.header {
  background-color: $color-dark;
  color: $color-light;
  ul {
    display: flex;
    a {
      display: block;
      color: $color-light;
      &:hover {
        background-color: $color-btn;
      }
      // ЕСТЬ ЗАЗОР при выставл paddinga вручную, ЧТО ДЕЛАТЬ
      text-transform: uppercase;
    }
  }

  li {
    margin-left: 10px;
  }
}

.header-inner {
  @include inner;
}

.header-row {
  display: flex;
  align-items: center;
}

.logo-wrap {
  padding: 16px 0;
  margin-right: auto;
}

.logo {
  @include logo;
}
