.menu {
  align-self: stretch;
  li {
    display: block;
    align-self: stretch;
    margin-left: 10px;
  }
  ul {
    display: flex;
    height: 100%;
    align-items: center;
    a {
      display: block;
      height: 100%;
      padding: 33px 25px 0px;
      color: $color-light;
      &:hover {
        background-color: $color-btn;
      }
      // оформление ссылок на костылях, есть ли способ поизящнее?
      text-transform: uppercase;
    }
  }
}
