.order {
  background-color: rgba($color-dark, .1);
  padding: 130px 0;
}

.order-inner {
  @include inner
}

.order-ttl {
  padding-bottom: 40px;
  font-family: $font;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.order-desc {
  padding-bottom: 90px;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}

.form {
  display: flex;
  align-items: flex-end;
  margin: 0 -10px;
}

.form-field {
  flex-basis: 33.33%;
  margin: 0 10px;
}

.form-label {
  display: block;
  padding-bottom: 8px;
  font-family: $font;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.form-input {
  display: block;
  padding: 35px 30px;
  width: 100%;
  font-family: $font;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  border: none;
  border-radius: 6px;
}
